*{

    font-family:Arial, Helvetica, sans-serif

}
body{
    margin: 0px;
}
.header{
    width: 100%;
    background-color: black;
    top: 0%;
    position: fixed;
    text-align: center;
    color: white;
    height: 170px;
    letter-spacing: 2px;
}
.header h1{
    padding-top: 30px;
    font-size: 35px;
    height: 25px;
}
.header p{
   font-size: 20px;
}
.section-1 {
    margin-top: 175px;
    height: 600px;
    display: flex;
    flex-flow: wrap;
    padding: 5px;
    
}
.quates{

   flex: 1;
   padding-left: 10%;
   padding-top: 15%;
   font-size: 40px;
   left: 1px;
   font-weight: bolder;
   
}

.stevejobs-img{
 flex: 1;
}
#img-1{
height: 787px;
}
.section-2{
    left: 0;
    height: 750px;
    display: flex;
    flex-flow: wrap;
    border: 1px black solid;
    background-color: black;
    

}
.section-2 .logo{
    flex: 1;
    padding-left: 13%;
    padding-top: 19%;
}
#img-2{
    height: 300px;
}
.contant{
    padding-top: 17%;
    padding-left: 14%;
    color: aliceblue;
    text-align: left;
     flex: 2;
}
.contant h3{
    font-size: 40px;
    letter-spacing: 2px;
}
.contant p{
    width: 500px;
    font-size: large;
}
.footer{
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
}

@media only screen and (max-width :480px){
 .section-1{
    margin-top: 175px;
    height: 600px;
    display: block;
    padding: 5px;
 }
 .quates{

    padding-left: 10%;
    padding-top: 15%;
    font-size: 23px;
    font-weight: bolder;
    
 }
 
 .stevejobs-img{
    text-align: end;
 }
 #img-1{
 height: 350px;
 padding-top: 12%;

 }
 .section-2{
    height: 1000px;
    display: block;
    background-color: black;
    

}
.section-2 .logo{
    padding-left: 14%;
    padding-top: 45%;
}
#img-2{
    height: 300px;
}
 .contant{
    padding-top: 17%;
    padding-left: 16%;
    color: aliceblue;
    text-align: left;
}
.contant h3{
    font-size: 40px;
    letter-spacing: 2px;
}
.contant p{
    width: 300px;
    font-size: 15px;
}
}
@media only screen and (min-width :481px) and (max-width :768px){
    .section-1{
        margin-top: 175px;
        height: 600px;
        display: block;
        padding: 5px;
     }
     .quates{
    
        padding-left: 10%;
        padding-top: 15%;
        font-size: 23px;
        font-weight: bolder;
        height: 150px;
        
     }
     
     .stevejobs-img{
        text-align: end;
     }
     #img-1{
     height: 450px;
    
     }
     .section-2{
        height: 1100px;
        display: block;
        background-color: black;
        
    
    }
    .section-2 .logo{
       padding-left: 30%;
        padding-top: 30%;
    }
    #img-2{
        height: 300px;
    }
     .contant{
        padding-top: 17%;
        padding-left: 20%;
        color: aliceblue;
        text-align: left;
    }
    .contant h3{
        font-size: 40px;
        letter-spacing: 2px;
    }
    .contant p{
        width: 80%;
        font-size: 15px;
    }
}

@media only screen and (min-width:769px) and (max-width :1024px){
    .section-1{
        margin-top: 175px;
        height: 600px;
        padding: 5px;
     }
     .quates{

        
        padding-left: 10%;
        padding-top: 15%;
        font-size: 25px;
        font-weight: bolder;
        height: 100px;
        width: 500px;
        
     }
     
     .stevejobs-img{
        text-align: end;
        display: block
     }
     #img-1{
     height: 550px;
    
     }
     .section-2{
        height: 1100px;
        display: block;
        background-color: black;
        
    
    }
    .section-2 .logo{
        padding-left: 33%;
        padding-top: 20%;
    }
    #img-2{
        height: 300px;
    }
     .contant{
        padding-top: 10%;
        padding-left: 22%;
        color: aliceblue;
        text-align: left;
    }
    .contant h3{
        font-size: 40px;
        letter-spacing: 2px;
    }
    .contant p{
        width: 500px;
        font-size: 20px;
    }

}
@media only screen and (min-width : 1025px) and (max-width:1300px){
    .section-1{
        margin-top: 175px;
        height: 600px;
        padding: 5px;
     }
     .quates{

        
        padding-left: 15%;
        padding-top: 15%;
        font-size: 35px;
        font-weight: bolder;
        height: 150px;
        
     }
     
     .stevejobs-img{
        text-align: end;
     }
     #img-1{
     height: 550px;
    
     }
     .section-2{
        height: 1100px;
        display: block;
        background-color: black;
        
    
    }
    .section-2 .logo{
        padding-left: 38%;
        padding-top: 30%;
    }
    #img-2{
        height: 300px;
    }
     .contant{
        padding-top: 10%;
        padding-left: 25%;
        color: aliceblue;
        text-align: left;
    }
    .contant h3{
        font-size: 40px;
        letter-spacing: 2px;
    }
    .contant p{
        width: 80%;
        font-size: 20px;
    }
}
